body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin: 0; 
}

header h1 {
    margin: 0;
    font-size: 24px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin: 0;
    margin-top: auto;
}

footer p {
    margin: 0;
}

.convertor-container {
    width: 80%; 
    max-width: 500px; 
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px; 
    padding-right: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.convertor-container form {
    display: flex;
    flex-direction: column;
}

.convertor-container label {
    margin-bottom: 15px;
    font-size: 16px;
}

.convertor-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.convertor-container button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.convertor-container button:hover {
    background-color: #0056b3; 
}

.convertor-container button.convertor-button {
    background-color: #FFA500; 
}

.convertor-container button.convertor-button:hover {
    background-color: #FF8C00; 
}

.convertor-container h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

.convertor-container p {
    margin: 5px 0;
    font-size: 16px;
}